{% extends "blog/base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/styles/blog.css' %}" />
{% endblock %}

{% block title %}
    {{title}}
{% endblock %}
{% block content %}
<h2>The total number of the blogs: {{total_num_blogs}}</h2>
    <ul>
    {% for blog in blogs %}
    <li> <a href="{{blog.get_absolute_url}}" > {{blog.title}} </a> {{blog.release_date}} </li> <!-- {% url "blog-detail" blog.id %}-->
    {% endfor %}
    </ul>
{% endblock %}