{% extends "base.html" %}
{% load static %}

{% block page_title %} {{title}} {% endblock %}

{% block css_files %} 
    <link rel="stylesheet" href="{% static "monthly/styles/index.css" %}">
    <link rel="stylesheet" href="{% static "monthly/styles/includes/header.css" %}">
{% endblock %}

{% block content %}
{% include "./includes/header.html" %}
    <ul> 
    {% for month in months %}
        <li><a href="{{month}}"> {{month | title}} </a></li> 
        <!--{% url "month-direct" month %} {{month}}-->
    {% endfor %}
    </ul>
{% endblock%}